.todo__list {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.todo__modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-icon,
.edit-icon {
  padding-top: 20px;
  padding-right: 10px;
}
